.vs
*.swp
*.swo
*.csproj.user
game.dll

*.dll.meta
bin
obj
.vsconfig
BuildUnity/*.dll
RadicalRumbleUnity/Library
RadicalRumbleUnity/Logs
RadicalRumbleUnity/UserSettings
RadicalRumbleUnity/**/*.csproj
RadicalRumbleUnity/**/*.pdb
RadicalRumbleUnity/**/*.pdb.meta
RadicalRumbleUnity/Temp
Code/**/*.pdb
Code/**/*.exe
Code/tags
Code/vim_session_*
Code/StandaloneServer/*.exe
Code/StandaloneServer/*.pdb
Code/StandaloneServer/*.cfg
Code/StandaloneServer/*.sav
