.vs
*.swp
*.swo
*.dll
*.dll.meta
bin
obj
.vsconfig
RadicalRumbleUnity/Library
RadicalRumbleUnity/Logs
RadicalRumbleUnity/UserSettings
RadicalRumbleUnity/**/*.csproj
RadicalRumbleUnity/**/*.pdb
RadicalRumbleUnity/**/*.pdb.meta
RadicalRumbleUnity/Temp
Code/tags
Code/vim_session_*
Code/StandaloneServer/*.exe
Code/StandaloneServer/*.pdb
Code/StandaloneServer/*.cfg
Code/StandaloneServer/*.sav
Build/*
!Build/*.map
